# chapter 3 : Visualizing Data 

There are two primary uses for data visulation 

* To explore data 
* to communicate data

In [1]:
# matplotlib 
from matplotlib import pyplot as plt

In [ ]:
year

In [1]:
import pandas as  pd

In [4]:
# save  file path to varialble for easier access 


# read data and store data 
titanic=pd.read_csv('titanic.csv')

In [5]:
titanic.describe()

,Survived,Pclass,Age,Siblings/Spouses,Parents/Children,Fare
count,887.000000,887.000000,887.000000,887.000000,887.000000,887.00000
mean,0.385569,2.305524,29.471443,0.525366,0.383315,32.30542
std,0.487004,0.836662,14.121908,1.104669,0.807466,49.78204
min,0.000000,1.000000,0.420000,0.000000,0.000000,0.00000
25%,0.000000,2.000000,20.250000,0.000000,0.000000,7.92500
50%,0.000000,3.000000,28.000000,0.000000,0.000000,14.45420
75%,1.000000,3.000000,38.000000,1.000000,0.000000,31.13750
max,1.000000,3.000000,80.000000,8.000000,6.000000,512.32920

In [7]:
titanic.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'Siblings/Spouses',
       'Parents/Children', 'Fare'],
      dtype='object')